<div  class="todos">


  <div class="header"> 
    <h2 style="display: inline-block"> {{system.title}} ---- {{systemFile.name}}</h2>
  </div>

  <div class="twoBtn"> 
    <button class="button-index pure-button ml-0" (click)="backToIndex()">首页</button>
    <button class="button-index pure-button" (click)="goBack(systemFile)">上一页</button>
  </div>

  <div *ngIf = "systemConfigs">
  	<div *ngIf = 'profile == 0'>
  		 <h3>DEV</h3>
		 <div *ngFor="let systemConfig of systemConfigs">		  		
		  	 {{systemConfig.key_name}} = {{systemConfig.dev_value}}
		</div>
  	</div>

  	<div *ngIf = 'profile == 1'>
  		 <h3>QA</h3>
		 <div *ngFor="let systemConfig of systemConfigs">		  		
		  	 {{systemConfig.key_name}} = {{systemConfig.qa_value}}
		</div>
  	</div>

  	<div *ngIf = 'profile == 2'>
  		 <h3>PROD</h3>
		 <div *ngFor="let systemConfig of systemConfigs">		  		
		  	 {{systemConfig.key_name}} = {{systemConfig.prod_value}}
		</div>
  	</div>
  </div>

</div>
